package {{ package_name }};
/**
* This abstract class is the parent class for all the tactics in the {{ domain }} domain.
* It exists so that methods that accept any tactic can be passed an instance of this class inheriting from this class.
*
*/
public abstract class AbstractTactic extends {{ root_package_name }}.MitreTTP
{

}