package {{ class_package_name }};

import java.util.ArrayList;

import {{ package_name }}.*;
import {{ package_name }}.tactic.*;

/**
* This class represents the {{ class_name }} Tehnique or sub technique in attack matrix
*
{{description_lines |safe}}
*/
public class {{ class_name }} extends {{ extends }} {% if implements %} implements {{ implements }}{% endif %}
{

    public {{ class_name }}() {
        super.name = "{{ name }}";
        super.domain = "{{ domain }}";
        super.id = "{{ ID }}";
        super.url = "{{ url }}";
        super.version = "{{ version }}";

        {% if verbose_class %}
        super.description = "{{ description_field }}";
            {% if detection %}
                detection = "{{ detection_field }}";
            {% endif %}            


        {% for item in data_source_keys %}
        super.dataSources.add(MitreAttackDatasource.{{ item }});
        {% endfor %}

        {% for item in defense_bypassed_keys %}
        super.defencesBypassed.add(MitreAttackDefensesBypassed.{{ item }});
        {% endfor %}   

        {% for item in platform_keys %}
        super.platforms.add(MitreAttackPlatform.{{ item }});
        {% endfor %}                

        {% endif %}        
    }

}